[submodule "ros2_ws/src/odyssey"]
	path = ros2_ws/src/odyssey
	url = git@github.com:T0r0t0/Odyssey_pkg.git
[submodule "ros2_ws/src/gr_description"]
	path = ros2_ws/src/gr_description
	url = git@github.com:T0r0t0/gr_description_ros2_R-D_kit.git
